.battle-of-britain-diary {
	font-family: serif;

	.post {
		h2 {
			font-size: 1.5em;
			margin-bottom: 0;
			text-transform: none;
		}

		.format-aside .entry-content {
			margin-top: 0;
		}
	}

	.entry-date,
	.entry-footer {
		font-size: 0.75rem;
		font-family: sans-serif;
	}

	.entry-content {
		color: black;
	}

	blockquote {
		background-color: whitesmoke;
		border-left: 0.625em solid #ccc;
		margin-left: -1em;
		margin-bottom: 1.5em;
	}
}

.tag-form-541,
.tag-form-540 {
	tbody {
		font-family: monospace;
		white-space: pre;
	}

	th, td {
		padding: 0.5em;
	}

	th {
		font-weight: normal;
		font-size: 0.75em;
		border: 0.0625em solid;

		&:first-of-type {
			border-left: 0;
		}
		&:last-of-type {
			border-right: 0;
		}
	}

	td {
		border-left: 0.0625em solid;
		border-bottom: 0.0625em solid whitesmoke;
		padding-bottom: 0;
		vertical-align: top;

		&:first-of-type {
			border-left: 0;
		}
	}
}

.handwritten {
	font-family: cursive !important;
	white-space: normal !important;
	color: #000140;
}
